/* You can add global styles to this file, and also import other style files */
:root {
    --text-color--light: #73849a;
    --text-color--dark: #020814;

    --color-active: #E15B39;

    --text-size--normal: 1.2em;
    --text-size--h1: 2em;
    --text-size--h2: 1.3em;
    --text-size--header: 1.3em;

    --font-family: 'helvetica';
    --font-family--header: 'helvetica';

    --gutter--normal: 1em;
    --gutter--small: 0.5em;

    --app-header-height: 2em;
    --app-footer-height: 2em;
}



html {
    margin: 0px;
    height: 100%;
    font-family: var(--font-family);
    color: var(--text-color--light);
    font-size:var(--text-size--normal);
}

body {
    margin: 0px;
    height: 100%;
}

h1 {
    font-family: var(--font-family);
    color: var(--text-color--dark);
    font-size:var(--text-size--h1);
}

h2 {
    color: var(--text-color--dark);
    font-size:var(--text-size--h2);
}